
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/raleway-v18-latin-regular.eot'); 
  src: local(''),
       url('../fonts/raleway-v18-latin-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/raleway-v18-latin-regular.woff2') format('woff2'), 
       url('../fonts/raleway-v18-latin-regular.woff') format('woff'), 
       url('../fonts/raleway-v18-latin-regular.ttf') format('truetype'),
       url('../fonts/raleway-v18-latin-regular.svg#Raleway') format('svg'); 
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/raleway-v18-latin-700.eot'); 
  src: local(''),
       url('../fonts/raleway-v18-latin-700.eot?#iefix') format('embedded-opentype'), 
       url('../fonts/raleway-v18-latin-700.woff2') format('woff2'), 
       url('../fonts/raleway-v18-latin-700.woff') format('woff'),
       url('../fonts/raleway-v18-latin-700.ttf') format('truetype'), 
       url('../fonts/raleway-v18-latin-700.svg#Raleway') format('svg'); 
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v20-latin_cyrillic-regular.eot");
  src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/roboto-v20-latin_cyrillic-regular.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"),
    url("../fonts/roboto-v20-latin_cyrillic-regular.woff") format("woff"),
    url("../fonts/roboto-v20-latin_cyrillic-regular.ttf") format("truetype"),
    url("../fonts/roboto-v20-latin_cyrillic-regular.svg#Roboto") format("svg");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v20-latin_cyrillic-500.eot");
  src: local("Roboto Medium"), local("Roboto-Medium"),
    url("../fonts/roboto-v20-latin_cyrillic-500.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/roboto-v20-latin_cyrillic-500.woff2") format("woff2"),
    url("../fonts/roboto-v20-latin_cyrillic-500.woff") format("woff"),
    url("../fonts/roboto-v20-latin_cyrillic-500.ttf") format("truetype"),
    url("../fonts/roboto-v20-latin_cyrillic-500.svg#Roboto") format("svg");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v20-latin_cyrillic-700.eot");
  src: local("Roboto Bold"), local("Roboto-Bold"),
    url("../fonts/roboto-v20-latin_cyrillic-700.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/roboto-v20-latin_cyrillic-700.woff2")
      format("woff2"),
    url("../fonts/roboto-v20-latin_cyrillic-700.woff") format("woff"),
    url("../fonts/roboto-v20-latin_cyrillic-700.ttf") format("truetype"),
    url("../fonts/roboto-v20-latin_cyrillic-700.svg#Roboto") format("svg");
}

:root {
  --main-text-cl: #555555;
  --accent-cl: #2196f3;
  --black: #303030;
  --gray: #9da4bb;
  --button:#ffffff;
}

h1,h2,h3{
  margin-top: 0px;
}

ul{list-style-type: none;}
a{text-decoration: none;}

.container{
  width: 1170px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

}

.menu{
display: inline-flex;
padding: 0px;
margin: 0px;
}

.menu-item:not(:last-child){margin-right: 50px;
}





.header{
  background-color:var(--button);
  margin-bottom: 32px;
  margin-top: 32px;
}

.header-portfolio{
   background-color:var(--button);
  margin-bottom: 132px;
  margin-top: 24px;

}



.header-container{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navigation{
  display: flex;
  align-items: center;
  margin-right: auto;
}

.menu-logo{
  margin-left: 93px;
}

.header .mail-item{
  margin-right: 50px;
}


.logo{
font-family: Raleway;
font-weight: 700;
font-size: 26px;
line-height:1.19;
letter-spacing: 0.03em;
color: var(--black)
}

.logo-web{
  font-family: Raleway;
font-weight: 700;
font-size: 26px;
line-height:1.19;
letter-spacing: 0.03em;
color: var(--accent-cl)
}

.section-hero{
color: var(--button);
background-color: var(--black);
margin-bottom: 94px;
}

.hero{
  width: 696px;
  height: 120px;
margin-top: 200px;
margin-bottom: 40px;
margin-left:452px;
margin-right: 452px;
display:inline-block;

font-family: Roboto;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
} 

.button-hero{
  display: inline-block;
font-family: Roboto;
font-weight: 700;
font-size: 16px;
line-height: 1,87;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: var(--button);
background-color: var(--accent-cl);
border-radius: 4px;
height: 50px;
width: 200px;
margin-bottom: 210px;
margin-left: 700px;
margin-right: 700px;
}

.button{
  font-family: Roboto;
font-weight: 500;
border: 1px solid #000
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color:var(--black);
}

.button:hover {
	color: var(--button);
	background: var(--accent-cl);
  }
  
.link {
color: inherit;
}
.link:hover,
.link:focus{
  color:var(--accent-cl)
}
.active {
color:var(--accent-cl)
} 


.list{
font-family: Roboto;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
color:var(--black);

}

.list-content {
display:flex
}

.list-item :not(:last-child){margin-right: 30px;
  background-color: yellow;
  margin-bottom: 10px;
  margin-right: 30px;
}

.text  {
  margin-right: 30px;
  margin-bottom: 186px;
font-family: Roboto;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color:var(--gray);

}
.text-item :not(:last-child){margin-right: 30px;}

.section-job{
  font-family: Roboto;
  margin-top: 0px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
color:var(--black);

}

.img-content{
  display: flex;
  margin-bottom: 0px;
  
}
.img-content li{
  margin-right: 30px;
  margin-bottom: 188px;
}

.team{
 display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  width: 1250px;
}

.team-item {
 margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc(100% / 4 - 30px);
  margin-bottom: 205px;
}


.our-team{
  font-family: Roboto;
font-weight: 500;
font-size: 16px;
line-height: 1.1875;
letter-spacing: 0.03em;
color:var(--black);

text-align: center;
}


.position{
  font-family: Roboto;
font-size: 16px;
line-height: 1.1875;
letter-spacing: 0.03em;
color:var(--gray);
text-align: center;
}



.footer{
  background-color: var(--black);
}
.footer-logo{
  background-color: var(--button);
}
.footer .logo{
  color: var(--button);
margin-top: 60px;
  display: inline-block;
}

.address-map{
  margin-top: 20px;
  display: inline-block;

}
.address{
  padding: 0px;
   margin-top: 20px;
   color: var(--button);
}
.connection{
  padding: 0px;
   margin-top:9px;
}
.connection .tel{
  padding-bottom: 60px;
  display: inline-block;
}

.tel{
font-family: Roboto;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color:var(--gray);
}
.tel:hover {
color: var(--accent-cl);
}
.mail{
font-family: Roboto;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color:var(--gray);
}
.mail:hover {
color: var(--accent-cl);
}

.button-item{
display: flex;
Justify-content: center;
margin-bottom: 50px;
 
}

.button-margin{
  margin-right: 8px;
}
  
.section-title {
  font-family: Roboto;sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--black);
  text-align: center;
  margin-top: 20px;
  margin-bottom: 4px;
}

.section-title-p{
font-family: Roboto;
font-size: 16px;
line-height: 1.875;
letter-spacing: 0.03em;
color: var(--gray);
text-align: center;
margin-bottom: 50px;
margin-top: 0px;
}

.tabl{
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
  padding: 0px;
 
  
}

.tabl-item{
margin-left: 30px;
margin-top: 30px;
  flex-basis: calc(100% / 9 - 30px);
  
}